* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    padding-top: 35px;
    float: left;
    margin-left: 53px;
}

.header_1 {
    width: 100%;
    height: 80px;
    z-index: 1;
}

.header_2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
}

.header_3 {
    padding-top: 32px;
    padding-left: 333px;
    width: 600px;
    float: left;
}

.header_3 ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.header_3 ul li a {
    font-size: 15px;
    font-family: 'Raleway';
    color: #2c2c2c;
    font-weight: 700;
}

.header_3 ul li a:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.header_3 ul li:nth-child(1) {
    padding-left: 0;
}

.icon-search::before {
    color: #2c2c2c;
    content: "";
    font-family: FontAwesome;
    font-size: 12px;
}

.icon-search {
    position: relative;
    top: 30px;
    left: 10px;
}

.icon-shopping-cart {
    position: relative;
    top: 30px;
    left: 30px;
}

.icon-cog {
    position: relative;
    top: 30px;
    left: 50px;
}

.icon-shopping-cart {
    color: #2c2c2c;
    content: "";
    font-family: FontAwesome;
    font-size: 12px;
}

.icon-shopping-cart a {
    color: #ffae00;
    padding-left: 4px;
}

.icon-cog::after {
    color: #2c2c2c;
    content: "";
    font-family: FontAwesome;
    font-size: 12px;
}

.top_1 {
    width: 1125px;
    margin: 0 auto;
    margin-top: 35px;
}

.top_2 {}

.top_3 {
    float: left;
}

.top_4 {
    float: left;
    margin-left: 5px;
}

.top_5 {
    float: left;
    margin-left: 5px;
}

.top_4 a {
    color: #2c2c2c;
    font-size: 12px;
}

.top_4 a:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.top_5 a {
    color: #ffae00;
    font-size: 12px;
}

.icon-home {
    /* color: #ffae00;*/
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
}

.icon-home:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.top_6 {
    width: 1125px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.top1 {
    width: 1125px;
    margin: 0 auto;
    margin-top: 40px;
}

.top3 {
    float: left;
    width: 300px;
}

.c:after {
    content: "";
    display: block;
    clear: both;
}

.content-left {
    width: 262px;
    height: 1300px;
    border: 1px solid #ebebeb;
}

.content-left-F {
    border-bottom: 1px solid #ebebeb;
    width: 240px;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 15px;
}

.content-left-S {
    border-bottom: 1px solid #ebebeb;
    width: 240px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 15px;
}

.content-left-T {
    width: 240px;
    margin: 0 auto;
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.content-left-T p {
    float: left;
    width: 240px;
    height: 5px;
    padding-top: 17px;
}

.content-left-T span {
    float: right;
}

.content-left-FF {
    border-bottom: 1px solid #ebebeb;
    width: 240px;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 32px;
    padding-bottom: 15px;
    font-size: 12px;
}

.content-left-FI {
    width: 240px;
    margin: 0 auto;
    font-size: 12px;
    color: gray;
}

.content-left-FI p {
    float: left;
    width: 240px;
    height: 5px;
    padding-top: 10px;
}

.content-left-FI span {
    float: right;
}

.content-left-SE {
    font-size: 12px;
    color: gray;
    width: 240px;
    margin: 0 auto;
    margin-top: 15px;
}

.content-left-SE span {
    font-weight: bold;
    color: #000;
}

.line {
    width: 240px;
    margin: 0 auto;
    border: 1px solid gray;
    margin-top: 20px;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f39c11;
    position: absolute;
    left: -2px;
    top: -10px;
}

.content-left-E {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    width: 240px;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
    padding-bottom: 15px;
}

.top4 {
    float: left;
    width: 800px;
    height: 1000px;
}

.top5 {
    margin-left: 43px;
    overflow: hidden;
    width: 700px;
}

.top5 a img {
    width: 700px;
    height: 308px;
    transition: all 1s;
}

.top5 a img:hover {
    transform: scale(1.2);
    opacity: .6;
}

.top6 {
    margin-left: 43px;
    margin-top: 30px;
    width: 700px;
}

.top6 h3 a:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.top6 h3 a {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
    margin-top: 30px;
    text-transform: uppercase;
}

.top7 {
    margin-top: 10px;
}

.top7 span a {
    color: #363636;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    transition: all 300ms ease-in 0s;
    margin-left: 10px;
}

.top7 span a:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.top7 span a i {
    margin-right: 5px;
}

.top7 span a i:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.span6 {
    color: #363636;
    font-size: 13px;
}

.icon-tag {
    font-family: FontAwesome;
    font-size: 15px;
}

.icon-comment {
    font-family: FontAwesome;
    font-size: 15px;
}

.icon-eye-open {
    font-family: FontAwesome;
    font-size: 15px;
}

.top8 p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #626262;
    margin-bottom: 15px;
    margin-top: 10px;
}

.top9 a {
    border: 1px solid #ddd;
    color: #444;
    display: inline-block;
    padding: 5px 10px;
}

.top9 a:hover {
    color: #fff;
    transition: all 500ms ease-in 0s;
    border-color: #FCAE00;
    background-color: #FCAE00;
}

.top10 {}

.top11 {
    margin-top: 20px;
}

.top12 {
    margin-top: 20px;
}

.top13 {
    margin-top: 20px;
}

.bottom {
    margin-top: 853px;
}

.content20 {
    width: 1167px;
    margin: 0 auto;
    height: 240px;
}

.content21 {
    width: 1125px;
    border: 1px solid #ddd;
}

.roll_2 {
    height: 105px;
    overflow: hidden;
}

.roll_3 {
    margin-top: 80px;
    position: relative;
    overflow: hidden;
}

.roll_2 ul {
    position: absolute;
}

.roll_2 ul li {
    float: left;
    padding: 0px 33px;
    width: 165px;
    cursor: pointer;
}

.roll_2 ul li img {
    opacity: .3;
    width: 165px;
}

.roll_2 ul li img:hover {
    opacity: 1;
    transition: all 500ms ease-in 0s;
}

.roll_1 {
    position: relative;
}

.btn {
    position: absolute;
    top: -75px;
    z-index: 2;
    opacity: 1;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#btnl {
    left: -73px;
}

#btnr {
    right: -68px;
}

.footer {
    background: #F4F4F4;
    height: 150px;
}

.footer_1 {
    width: 1125px;
    margin: 0 auto;
    height: 150px;
}

.footer_3 {
    float: left;
    margin-right: 20px;
}

.footer_4 {
    float: left;
}

.footer_4 h3 {
    color: #252525;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

.footer_4 p {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.footer_5 {
    margin-top: 57px;
    width: 257px;
    float: left;
}

.footer_6 {
    margin-top: 57px;
    width: 257px;
    float: left;
    margin-left: 28px;
}

.footer_7 {
    margin-top: 57px;
    ;
    width: 257px;
    float: left;
    margin-left: 28px;
}

.footer_8 {
    margin-top: 57px;
    width: 257px;
    float: left;
    margin-left: 28px;
}

.icon-repeat {
    color: #ffae00;
    content: "";
    font-family: FontAwesome;
    font-size: 45px;
}

.icon-headphones {
    color: #ffae00;
    content: "";
    font-family: FontAwesome;
    font-size: 45px;
}

.icon-spinner {
    color: #ffae00;
    content: "";
    font-family: FontAwesome;
    font-size: 45px;
}

.icon-globe {
    color: #ffae00;
    content: "";
    font-family: FontAwesome;
    font-size: 45px;
}

.footer1 {
    background: #252525 !important;
    height: 393px;
}

.footer2 {
    width: 1125px;
    margin: 0 auto;
    height: 393px;
}

.footer4 {
    margin-top: 65px;
    width: 233px;
    float: left;
}

.footer3 h3 {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 35px;
    text-transform: uppercase;
}

.footer6 {
    float: left;
    margin-right: 16px;
    padding-top: 4px;
}

.footer7 {
    float: left;
}

.footer7 p {
    color: #fff;
    font-size: 12px;
}

.footer8 {
    margin-top: 30px;
}

.footer9 {
    margin-top: 30px;
}

.span {
    color: #fff;
    font-size: 12px;
}

.icon-facebook {
    color: #ffae00;
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
}

.icon-phone {
    color: #ffae00;
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
}

.icon-pinterest {
    color: #ffae00;
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
}

.footer11 {
    float: left;
    margin-top: 65px;
    margin-left: 50px;
}

.footer11 h3 {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 35px;
    text-transform: uppercase;
}

.footer11 ul li {
    margin-top: 10px;
}

.footer11 ul li a {
    color: #ddd;
    font-size: 13px;
    position: relative;
    text-transform: capitalize;
}

.footer11 ul li a:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.footer12 {
    float: left;
    margin-top: 100px;
    margin-left: 60px;
}

.footer12 ul li {
    margin-top: 10px;
}

.footer12 ul li a {
    color: #ddd;
    font-size: 13px;
    position: relative;
    text-transform: capitalize;
}

.footer12 ul li a:hover {
    color: #FCAE00;
    transition: all 500ms ease-in 0s;
}

.footer13 {
    width: 1125px;
    border: 1px solid #e1e1e1;
    margin-top: 30px;
}

.footer14 {
    margin-top: 25px;
}

.footer15 {
    float: left;
}

.footer15 p {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 5px 0 0;
    text-align: left;
    text-transform: capitalize;
}

.footer15 a {
    color: #ffae00;
}

.footer16 {
    float: right;
    ;
}